In [569]:
# Import the required modules
import pandas as pd
import numpy as np

# Machine Learning
from sklearn.model_selection import train_test_split, cross_val_score, StratifiedKFold

# Deep Learning!
import tensorflow as tf

# Metrics
from sklearn.metrics import confusion_matrix, classification_report, roc_auc_score, roc_curve, RocCurveDisplay

# Pre-Processing
from sklearn.preprocessing import StandardScaler, OneHotEncoder, OrdinalEncoder
from sklearn.pipeline import Pipeline
from sklearn.compose import ColumnTransformer
from sklearn.impute import SimpleImputer

# Models
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import RandomForestClassifier, AdaBoostClassifier
from sklearn.neighbors import KNeighborsClassifier

# suppress warnings
import warnings
warnings.filterwarnings('ignore')

In [570]:
# Import pandas and read the charity_data.csv from the provided cloud URL.
df = pd.read_csv("https://static.bc-edx.com/data/dl-1-2/m21/lms/starter/charity_data.csv")
print(df.shape)
df.head()

(34299, 12)

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [571]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
df = df.drop(columns=["EIN", "NAME"])

# Display the first few rows to confirm changes
print(df.shape)
df.head()

(34299, 10)

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [572]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 34299 entries, 0 to 34298
Data columns (total 10 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   APPLICATION_TYPE        34299 non-null  object
 1   AFFILIATION             34299 non-null  object
 2   CLASSIFICATION          34299 non-null  object
 3   USE_CASE                34299 non-null  object
 4   ORGANIZATION            34299 non-null  object
 5   STATUS                  34299 non-null  int64
 6   INCOME_AMT              34299 non-null  object
 7   SPECIAL_CONSIDERATIONS  34299 non-null  object
 8   ASK_AMT                 34299 non-null  int64
 9   IS_SUCCESSFUL           34299 non-null  int64
dtypes: int64(3), object(7)
memory usage: 2.6+ MB

In [573]:
# Determine the number of unique values in each column.
unique_values = df.nunique()
print(unique_values)

APPLICATION_TYPE            17
AFFILIATION                  6
CLASSIFICATION              71
USE_CASE                     5
ORGANIZATION                 4
STATUS                       2
INCOME_AMT                   9
SPECIAL_CONSIDERATIONS       2
ASK_AMT                   8747
IS_SUCCESSFUL                2
dtype: int64

In [574]:
# Look at APPLICATION_TYPE value counts to identify and replace with "Other"
# Check the value counts of APPLICATION_TYPE
application_type_counts = df['APPLICATION_TYPE'].value_counts()
print(application_type_counts)

APPLICATION_TYPE
T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: count, dtype: int64

In [575]:
# Choose a cutoff value and create a list of application types to be replaced
cutoff_value = 500

# Get the count of unique values in the 'APPLICATION_TYPE' column
value_counts = df['APPLICATION_TYPE'].value_counts()

# Create a list of application types that appear less than the cutoff value
application_types_to_replace = value_counts[value_counts < cutoff_value].index.tolist()

# Replace in dataframe
for app in application_types_to_replace:
    df['APPLICATION_TYPE'] = df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure replacement was successful
df['APPLICATION_TYPE'].value_counts()

# Check to make sure the replacement was successful
print(df['APPLICATION_TYPE'].value_counts())

APPLICATION_TYPE
T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: count, dtype: int64

In [576]:
# Look at CLASSIFICATION value counts to identify and replace with "Other"
# Check the value counts of CLASSIFICATION
classification_counts = df['CLASSIFICATION'].value_counts()
print(classification_counts)

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: count, Length: 71, dtype: int64

In [577]:
# Determine a cutoff value
cutoff = 500  

# Create a list of classifications to be replaced
classification_to_replace = classification_counts[classification_counts < cutoff].index.tolist()

# Replace classifications in the dataframe
for cls in classification_to_replace:
   df['CLASSIFICATION'] = df['CLASSIFICATION'].replace(cls, "Other")

# Verify the changes
print(df['CLASSIFICATION'].value_counts())

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
Other     1484
C7000      777
Name: count, dtype: int64

In [578]:
# Look at CLASSIFICATION value counts to identify and replace with "Other"
# Check the value counts of CLASSIFICATION
classification_counts = df['CLASSIFICATION'].value_counts()
print(classification_counts)

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
Other     1484
C7000      777
Name: count, dtype: int64

In [579]:
# Determine a cutoff value
cutoff = 1000  

# Create a list of classifications to be replaced
classification_to_replace = classification_counts[classification_counts < cutoff].index.tolist()

# Replace classifications in the dataframe
for cls in classification_to_replace:
   df['CLASSIFICATION'] = df['CLASSIFICATION'].replace(cls, "Other")

# Verify the changes
print(df['CLASSIFICATION'].value_counts())

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
Other     2261
C3000     1918
C2100     1883
Name: count, dtype: int64

In [580]:
# You may find it helpful to look at CLASSIFICATION value counts >1
# Check value counts of CLASSIFICATION and filter those appearing more than once
temp = df.CLASSIFICATION.value_counts()
temp.loc[temp > 1]
# Display classifications with counts greater than 1
classification_counts_filtered = classification_counts[classification_counts > 1]
print(classification_counts_filtered)

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
Other     1484
C7000      777
Name: count, dtype: int64

In [581]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
# Determine a cutoff value for classification
cutoff = 1000  

# Create a list of classifications to be replaced
classifications_to_replace = classification_counts[classification_counts < cutoff].index.tolist()

# Replace classifications in the dataframe
for cls in classifications_to_replace:
    df['CLASSIFICATION'] = df['CLASSIFICATION'].replace(cls, "Other")

# Replace in dataframe
for cls in classifications_to_replace:
    df['CLASSIFICATION'] = df['CLASSIFICATION'].replace(cls,"Other")

df_encoded = pd.get_dummies(df, dtype=int)
df_encoded.head()

,STATUS,ASK_AMT,IS_SUCCESSFUL,APPLICATION_TYPE_Other,APPLICATION_TYPE_T10,APPLICATION_TYPE_T19,APPLICATION_TYPE_T3,APPLICATION_TYPE_T4,APPLICATION_TYPE_T5,APPLICATION_TYPE_T6,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
1,1,108590,1,0,0,0,1,0,0,0,...,1,0,0,0,0,0,0,0,1,0
2,1,5000,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,1,0
3,1,6692,1,0,0,0,1,0,0,0,...,0,1,0,0,0,0,0,0,1,0
4,1,142590,1,0,0,0,1,0,0,0,...,0,0,1,0,0,0,0,0,1,0

In [582]:
# Check to make sure replacement was successful
df.IS_SUCCESSFUL.value_counts()

IS_SUCCESSFUL
1    18261
0    16038
Name: count, dtype: int64

In [583]:
# Convert categorical variables to numeric using one-hot encoding
application_df = pd.get_dummies(df, dtype=int)

In [584]:
# Split our preprocessed data into our features and target arrays
X = df_encoded.drop(['IS_SUCCESSFUL'], axis=1)
y = df_encoded['IS_SUCCESSFUL']

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.15, random_state = 30, stratify=y)

print(X.shape)
print(X_train.shape)
print(X_test.shape)

# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

(34299, 43)
(29154, 43)
(5145, 43)

In [585]:
# model
nn_module = tf.keras.models.Sequential()

# first hidden layer
nn_module.add(tf.keras.layers.Dense(units=85, activation="relu", input_dim=X_train_scaled.shape[1]))

# second hidden layer
nn_module.add(tf.keras.layers.Dense(units=35, activation="relu"))

# output layer
nn_module.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Add the output layer that uses a probability activation function
nn_module.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Check the structure of the model
nn_module.summary()

# Compile the model
nn_module.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

# Train the model
fit_model = nn_module.fit(X_train_scaled, y_train, epochs=100)

Model: "sequential_37"

┏━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━┓
┃ Layer (type)                    ┃ Output Shape           ┃       Param # ┃
┡━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━┩
│ dense_96 (Dense)                │ (None, 85)             │         3,740 │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ dense_97 (Dense)                │ (None, 35)             │         3,010 │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ dense_98 (Dense)                │ (None, 1)              │            36 │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ dense_99 (Dense)                │ (None, 1)              │             2 │
└─────────────────────────────────┴────────────────────────┴───────────────┘

 Total params: 6,788 (26.52 KB)

 Trainable params: 6,788 (26.52 KB)

 Non-trainable params: 0 (0.00 B)

Epoch 1/100
912/912 ━━━━━━━━━━━━━━━━━━━━ 1s 596us/step - accuracy: 0.6625 - loss: 0.6293
Epoch 2/100
912/912 ━━━━━━━━━━━━━━━━━━━━ 1s 579us/step - accuracy: 0.7274 - loss: 0.5829
Epoch 3/100
912/912 ━━━━━━━━━━━━━━━━━━━━ 1s 566us/step - accuracy: 0.7282 - loss: 0.5749
Epoch 4/100
912/912 ━━━━━━━━━━━━━━━━━━━━ 1s 614us/step - accuracy: 0.7275 - loss: 0.5735
Epoch 5/100
912/912 ━━━━━━━━━━━━━━━━━━━━ 1s 606us/step - accuracy: 0.7352 - loss: 0.5664
Epoch 6/100
912/912 ━━━━━━━━━━━━━━━━━━━━ 1s 615us/step - accuracy: 0.7314 - loss: 0.5666
Epoch 7/100
912/912 ━━━━━━━━━━━━━━━━━━━━ 1s 569us/step - accuracy: 0.7278 - loss: 0.5665
Epoch 8/100
912/912 ━━━━━━━━━━━━━━━━━━━━ 1s 566us/step - accuracy: 0.7342 - loss: 0.5569
Epoch 9/100
912/912 ━━━━━━━━━━━━━━━━━━━━ 1s 571us/step - accuracy: 0.7339 - loss: 0.5574
Epoch 10/100
912/912 ━━━━━━━━━━━━━━━━━━━━ 1s 559us/step - accuracy: 0.7306 - loss: 0.5577
Epoch 11/100
912/912 ━━━━━━━━━━━━━━━━━━━━ 1s 573us/step - accuracy: 0.7334 - loss: 0.5571
Epoch 12/100
912/912 ━━━━━━━━━━━━━━━━━━━━ 1s 558us/step - accuracy: 0.7331 - loss: 0.5562
Epoch 13/100
912/912 ━━━━━━━━━━━━━━━━━━━━ 1s 683us/step - accuracy: 0.7301 - loss: 0.5559
Epoch 14/100
912/912 ━━━━━━━━━━━━━━━━━━━━ 1s 580us/step - accuracy: 0.7370 - loss: 0.5529
Epoch 15/100
912/912 ━━━━━━━━━━━━━━━━━━━━ 1s 569us/step - accuracy: 0.7306 - loss: 0.5530
Epoch 16/100
912/912 ━━━━━━━━━━━━━━━━━━━━ 1s 582us/step - accuracy: 0.7333 - loss: 0.5543
Epoch 17/100
912/912 ━━━━━━━━━━━━━━━━━━━━ 1s 578us/step - accuracy: 0.7395 - loss: 0.5462
Epoch 18/100
912/912 ━━━━━━━━━━━━━━━━━━━━ 1s 595us/step - accuracy: 0.7395 - loss: 0.5470
Epoch 19/100
912/912 ━━━━━━━━━━━━━━━━━━━━ 1s 585us/step - accuracy: 0.7341 - loss: 0.5523
Epoch 20/100
912/912 ━━━━━━━━━━━━━━━━━━━━ 1s 625us/step - accuracy: 0.7331 - loss: 0.5508
Epoch 21/100
912/912 ━━━━━━━━━━━━━━━━━━━━ 1s 569us/step - accuracy: 0.7357 - loss: 0.5476
Epoch 22/100
912/912 ━━━━━━━━━━━━━━━━━━━━ 1s 577us/step - accuracy: 0.7355 - loss: 0.5499
Epoch 23/100
912/912 ━━━━━━━━━━━━━━━━━━━━ 1s 570us/step - accuracy: 0.7349 - loss: 0.5497
Epoch 24/100
912/912 ━━━━━━━━━━━━━━━━━━━━ 1s 572us/step - accuracy: 0.7336 - loss: 0.5495
Epoch 25/100
912/912 ━━━━━━━━━━━━━━━━━━━━ 1s 577us/step - accuracy: 0.7406 - loss: 0.5440
Epoch 26/100
912/912 ━━━━━━━━━━━━━━━━━━━━ 1s 608us/step - accuracy: 0.7368 - loss: 0.5500
Epoch 27/100
912/912 ━━━━━━━━━━━━━━━━━━━━ 1s 575us/step - accuracy: 0.7331 - loss: 0.5519
Epoch 28/100
912/912 ━━━━━━━━━━━━━━━━━━━━ 1s 569us/step - accuracy: 0.7355 - loss: 0.5473
Epoch 29/100
912/912 ━━━━━━━━━━━━━━━━━━━━ 1s 559us/step - accuracy: 0.7343 - loss: 0.5486
Epoch 30/100
912/912 ━━━━━━━━━━━━━━━━━━━━ 1s 575us/step - accuracy: 0.7356 - loss: 0.5417
Epoch 31/100
912/912 ━━━━━━━━━━━━━━━━━━━━ 1s 564us/step - accuracy: 0.7415 - loss: 0.5418
Epoch 32/100
912/912 ━━━━━━━━━━━━━━━━━━━━ 1s 625us/step - accuracy: 0.7349 - loss: 0.5465
Epoch 33/100
912/912 ━━━━━━━━━━━━━━━━━━━━ 1s 573us/step - accuracy: 0.7352 - loss: 0.5475
Epoch 34/100
912/912 ━━━━━━━━━━━━━━━━━━━━ 1s 578us/step - accuracy: 0.7385 - loss: 0.5436
Epoch 35/100
912/912 ━━━━━━━━━━━━━━━━━━━━ 1s 781us/step - accuracy: 0.7310 - loss: 0.5507
Epoch 36/100
912/912 ━━━━━━━━━━━━━━━━━━━━ 1s 619us/step - accuracy: 0.7406 - loss: 0.5407
Epoch 37/100
912/912 ━━━━━━━━━━━━━━━━━━━━ 1s 668us/step - accuracy: 0.7354 - loss: 0.5482
Epoch 38/100
912/912 ━━━━━━━━━━━━━━━━━━━━ 1s 567us/step - accuracy: 0.7358 - loss: 0.5434
Epoch 39/100
912/912 ━━━━━━━━━━━━━━━━━━━━ 1s 581us/step - accuracy: 0.7359 - loss: 0.5475
Epoch 40/100
912/912 ━━━━━━━━━━━━━━━━━━━━ 1s 582us/step - accuracy: 0.7378 - loss: 0.5445
Epoch 41/100
912/912 ━━━━━━━━━━━━━━━━━━━━ 1s 581us/step - accuracy: 0.7379 - loss: 0.5424
Epoch 42/100
912/912 ━━━━━━━━━━━━━━━━━━━━ 1s 583us/step - accuracy: 0.7381 - loss: 0.5459
Epoch 43/100
912/912 ━━━━━━━━━━━━━━━━━━━━ 1s 608us/step - accuracy: 0.7395 - loss: 0.5437
Epoch 44/100
912/912 ━━━━━━━━━━━━━━━━━━━━ 1s 583us/step - accuracy: 0.7389 - loss: 0.5434
Epoch 45/100
912/912 ━━━━━━━━━━━━━━━━━━━━ 1s 570us/step - accuracy: 0.7361 - loss: 0.5474
Epoch 46/100
912/912 ━━━━━━━━━━━━━━━━━━━━ 1s 569us/step - accuracy: 0.7405 - loss: 0.5405
Epoch 47/100
912/912 ━━━━━━━━━━━━━━━━━━━━ 1s 579us/step - accuracy: 0.7379 - loss: 0.5419
Epoch 48/100
912/912 ━━━━━━━━━━━━━━━━━━━━ 1s 635us/step - accuracy: 0.7369 - loss: 0.5422
Epoch 49/100
912/912 ━━━━━━━━━━━━━━━━━━━━ 1s 601us/step - accuracy: 0.7328 - loss: 0.5477
Epoch 50/100
912/912 ━━━━━━━━━━━━━━━━━━━━ 1s 603us/step - accuracy: 0.7356 - loss: 0.5440
Epoch 51/100
912/912 ━━━━━━━━━━━━━━━━━━━━ 1s 594us/step - accuracy: 0.7344 - loss: 0.5445
Epoch 52/100
912/912 ━━━━━━━━━━━━━━━━━━━━ 1s 597us/step - accuracy: 0.7373 - loss: 0.5424
Epoch 53/100
912/912 ━━━━━━━━━━━━━━━━━━━━ 1s 644us/step - accuracy: 0.7340 - loss: 0.5440
Epoch 54/100
912/912 ━━━━━━━━━━━━━━━━━━━━ 1s 594us/step - accuracy: 0.7363 - loss: 0.5452
Epoch 55/100
912/912 ━━━━━━━━━━━━━━━━━━━━ 1s 630us/step - accuracy: 0.7384 - loss: 0.5431
Epoch 56/100
912/912 ━━━━━━━━━━━━━━━━━━━━ 1s 618us/step - accuracy: 0.7374 - loss: 0.5426
Epoch 57/100
912/912 ━━━━━━━━━━━━━━━━━━━━ 1s 657us/step - accuracy: 0.7391 - loss: 0.5384
Epoch 58/100
912/912 ━━━━━━━━━━━━━━━━━━━━ 1s 704us/step - accuracy: 0.7419 - loss: 0.5359
Epoch 59/100
912/912 ━━━━━━━━━━━━━━━━━━━━ 1s 1ms/step - accuracy: 0.7381 - loss: 0.5419
Epoch 60/100
912/912 ━━━━━━━━━━━━━━━━━━━━ 1s 580us/step - accuracy: 0.7348 - loss: 0.5417
Epoch 61/100
912/912 ━━━━━━━━━━━━━━━━━━━━ 1s 576us/step - accuracy: 0.7351 - loss: 0.5442
Epoch 62/100
912/912 ━━━━━━━━━━━━━━━━━━━━ 1s 607us/step - accuracy: 0.7310 - loss: 0.5457
Epoch 63/100
912/912 ━━━━━━━━━━━━━━━━━━━━ 1s 579us/step - accuracy: 0.7336 - loss: 0.5474
Epoch 64/100
912/912 ━━━━━━━━━━━━━━━━━━━━ 1s 565us/step - accuracy: 0.7389 - loss: 0.5404
Epoch 65/100
912/912 ━━━━━━━━━━━━━━━━━━━━ 1s 598us/step - accuracy: 0.7401 - loss: 0.5390
Epoch 66/100
912/912 ━━━━━━━━━━━━━━━━━━━━ 1s 611us/step - accuracy: 0.7402 - loss: 0.5378
Epoch 67/100
912/912 ━━━━━━━━━━━━━━━━━━━━ 1s 701us/step - accuracy: 0.7394 - loss: 0.5402
Epoch 68/100
912/912 ━━━━━━━━━━━━━━━━━━━━ 1s 832us/step - accuracy: 0.7351 - loss: 0.5440
Epoch 69/100
912/912 ━━━━━━━━━━━━━━━━━━━━ 1s 540us/step - accuracy: 0.7358 - loss: 0.5419
Epoch 70/100
912/912 ━━━━━━━━━━━━━━━━━━━━ 1s 612us/step - accuracy: 0.7330 - loss: 0.5437
Epoch 71/100
912/912 ━━━━━━━━━━━━━━━━━━━━ 1s 538us/step - accuracy: 0.7429 - loss: 0.5377
Epoch 72/100
912/912 ━━━━━━━━━━━━━━━━━━━━ 1s 539us/step - accuracy: 0.7368 - loss: 0.5408
Epoch 73/100
912/912 ━━━━━━━━━━━━━━━━━━━━ 1s 581us/step - accuracy: 0.7397 - loss: 0.5377
Epoch 74/100
912/912 ━━━━━━━━━━━━━━━━━━━━ 0s 525us/step - accuracy: 0.7425 - loss: 0.5355
Epoch 75/100
912/912 ━━━━━━━━━━━━━━━━━━━━ 1s 539us/step - accuracy: 0.7371 - loss: 0.5389
Epoch 76/100
912/912 ━━━━━━━━━━━━━━━━━━━━ 1s 537us/step - accuracy: 0.7362 - loss: 0.5408
Epoch 77/100
912/912 ━━━━━━━━━━━━━━━━━━━━ 1s 576us/step - accuracy: 0.7384 - loss: 0.5419
Epoch 78/100
912/912 ━━━━━━━━━━━━━━━━━━━━ 0s 478us/step - accuracy: 0.7384 - loss: 0.5394
Epoch 79/100
912/912 ━━━━━━━━━━━━━━━━━━━━ 0s 484us/step - accuracy: 0.7372 - loss: 0.5422
Epoch 80/100
912/912 ━━━━━━━━━━━━━━━━━━━━ 0s 472us/step - accuracy: 0.7385 - loss: 0.5384
Epoch 81/100
912/912 ━━━━━━━━━━━━━━━━━━━━ 0s 473us/step - accuracy: 0.7386 - loss: 0.5394
Epoch 82/100
912/912 ━━━━━━━━━━━━━━━━━━━━ 0s 481us/step - accuracy: 0.7379 - loss: 0.5386
Epoch 83/100
912/912 ━━━━━━━━━━━━━━━━━━━━ 0s 479us/step - accuracy: 0.7366 - loss: 0.5401
Epoch 84/100
912/912 ━━━━━━━━━━━━━━━━━━━━ 0s 471us/step - accuracy: 0.7371 - loss: 0.5404
Epoch 85/100
912/912 ━━━━━━━━━━━━━━━━━━━━ 0s 471us/step - accuracy: 0.7360 - loss: 0.5406
Epoch 86/100
912/912 ━━━━━━━━━━━━━━━━━━━━ 0s 527us/step - accuracy: 0.7386 - loss: 0.5430
Epoch 87/100
912/912 ━━━━━━━━━━━━━━━━━━━━ 0s 473us/step - accuracy: 0.7407 - loss: 0.5362
Epoch 88/100
912/912 ━━━━━━━━━━━━━━━━━━━━ 0s 482us/step - accuracy: 0.7411 - loss: 0.5392
Epoch 89/100
912/912 ━━━━━━━━━━━━━━━━━━━━ 0s 523us/step - accuracy: 0.7410 - loss: 0.5364
Epoch 90/100
912/912 ━━━━━━━━━━━━━━━━━━━━ 0s 487us/step - accuracy: 0.7439 - loss: 0.5346
Epoch 91/100
912/912 ━━━━━━━━━━━━━━━━━━━━ 0s 491us/step - accuracy: 0.7356 - loss: 0.5408
Epoch 92/100
912/912 ━━━━━━━━━━━━━━━━━━━━ 0s 485us/step - accuracy: 0.7415 - loss: 0.5358
Epoch 93/100
912/912 ━━━━━━━━━━━━━━━━━━━━ 0s 475us/step - accuracy: 0.7394 - loss: 0.5353
Epoch 94/100
912/912 ━━━━━━━━━━━━━━━━━━━━ 0s 471us/step - accuracy: 0.7359 - loss: 0.5413
Epoch 95/100
912/912 ━━━━━━━━━━━━━━━━━━━━ 0s 481us/step - accuracy: 0.7345 - loss: 0.5428
Epoch 96/100
912/912 ━━━━━━━━━━━━━━━━━━━━ 1s 552us/step - accuracy: 0.7386 - loss: 0.5378
Epoch 97/100
912/912 ━━━━━━━━━━━━━━━━━━━━ 0s 473us/step - accuracy: 0.7364 - loss: 0.5433
Epoch 98/100
912/912 ━━━━━━━━━━━━━━━━━━━━ 0s 474us/step - accuracy: 0.7410 - loss: 0.5358
Epoch 99/100
912/912 ━━━━━━━━━━━━━━━━━━━━ 0s 480us/step - accuracy: 0.7442 - loss: 0.5341
Epoch 100/100
912/912 ━━━━━━━━━━━━━━━━━━━━ 0s 483us/step - accuracy: 0.7404 - loss: 0.5358

In [586]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn_module.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

161/161 - 0s - 801us/step - accuracy: 0.7349 - loss: 0.5536
Loss: 0.5535756349563599, Accuracy: 0.7348882555961609

In [587]:
# Export our model to HDF5 file
nn_module.save('AlphabetSoupCharity_Optimization.h5')

WARNING:absl:You are saving your model as an HDF5 file via `model.save()` or `keras.saving.save_model(model)`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')` or `keras.saving.save_model(model, 'my_model.keras')`.